.team-overview {
  padding:50px;
  margin-top:50px;
}

.contribute {
  padding:50px;
  margin-top:50px;
}

.disclaimer {
  padding:50px;
  margin-top:50px;
}

.members {
  list-style-type: none;
}

.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e072"; /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}

.top-buffer { margin-top:20px; }

.valign {
  position: absolute;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.navbar-default .navbar-nav>li>a {
  color:#337ab7
}

.info-box {
    display: inline-block;
    width: 220px;
    border: 1px solid;
    padding: 10px;
    height: 110px;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 5px;
}
.info-center {
  width: 750px;
      margin: 0 auto;
}
.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 50px;
    margin-bottom: 100px;
    line-height: 1.5;
}
.mt22 {
  margin-top: 22px;
}
.intro-message {
    padding-top: 30%;
    padding-bottom: 30%;
}
.mod-p p {
  font-size: 16px;
      font-weight: 400;
      color: #505050;
      line-height: 1.5;
}
.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}
.spacethis {
  padding-top: 50px;
  padding-bottom: 50px;
}